# Build directories
build/
build-release/

# CMake
CMakeUserPresets.json
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Testing/

# macOS
.DS_Store

# Editor
.vscode/*.log

# Python/pre-commit caches
.venv/
.pytest_cache/
.mypy_cache/
.pre-commit-cache/
